<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head th:replace = "~{fragments/common/head :: HeadFragment}"></head>
<head>
	<link rel="stylesheet" href="/css/recruit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
	

    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header th:replace = "~{fragments/common/header :: HeaderFragment}">
       
    </header>

    <section class="about section" style="background-color: black; height: 350px;">
        <div class="container">
            <div class="row align-items-center">              
                <div class="image wow fadeInLeft" data-wow-delay=".6s">
                        <img src="/img/롤 구인구직사이트2.png" alt="#">
                </div>                      
            </div>
        </div>  
    </section>

    <div class="filter-toolbar">
        <button class="filter-button" data-filter="all">
            <img class="filter-img" src="/img/상관없음.png" alt="">
        </button>
        <button class="filter-button" data-filter="option1">
            <img class="filter-img" src="/img/탑라인.svg" alt="">
        </button>
        <button class="filter-button" data-filter="option2">
            <img class="filter-img" src="/img/정글라인.svg" alt="">
        </button>
        <button class="filter-button" data-filter="option3">
            <img class="filter-img" src="/img/미드라인.svg" alt="">
        </button>
        <button class="filter-button" data-filter="option4">
            <img class="filter-img" src="/img/바텀라인.svg" alt="">
        </button>
        <button class="filter-button" data-filter="option5">
            <img class="filter-img" src="/img/서폿라인.svg" alt="">
        </button>

        <div class="dropdown-container">
            
                
                <select id="solo-rank" class="dropdown-select">
                    <option value="option1">솔로랭크</option>
                    <option value="option2">자유랭크</option>
                    <option value="option3">빠른대전</option>
                </select>
            
            
                <select id="tier" class="dropdown-select">
                    <option value="optionA">티어 전체</option>
                    <option value="optionB">언랭크</option>
                    <option value="optionC">아이언</option>
                    <option value="optionD">브론즈</option>
                    <option value="optionE">실버</option>
                    <option value="optionF">골드</option>
                    <option value="optionG">플레티넘</option>
                    <option value="optionH">에메랄드</option>
                    <option value="optionI">다이아</option>
                    <option value="optionJ">마스터</option>
                </select>
            
        </div>

        <button onclick="showPopup()" class="enroll-button">DUO 구하기</button>
    </div>

    <div>

    </div>
    <div id="popup" class="hide layer">
    
            <div class="content">
                <div class="modal-header">글 쓰고 DUO 찾기</div>
                <div class="form-group">
                    <label for="summoner-name">소환사 이름 (KR)</label>
                    <input type="text" id="summoner-name" placeholder="플레이어 이름 + #KR1" />
                    <button class="register-button" onclick="findInfo()">정보등록</button>
                </div>
                <div class="form-group">
                    <label>나의 포지션</label>
                    <div class="positions">
                        <button class="position-button">
                            <img src="/img/탑라인.svg" alt="">
                        </button>
                        <button class="position-button">
                            <img src="/img/정글라인.svg" alt="Jungle">
                        </button>
                        <button class="position-button">
                            <img src="/img/미드라인.svg" alt="Mid">
                        </button>
                        <button class="position-button">
                            <img src="/img/바텀라인.svg" alt="Bot">
                        </button>
                        <button class="position-button">
                            <img src="/img/서폿라인.svg" alt="Support">
                        </button>
                        </div>
                    <label>찾는 포지션</label>
                    <div class="positions">
                        <button class="find-position-button">
                            <img src="/img/탑라인.svg" alt="">
                        </button>
                        <button class="find-position-button">
                            <img src="/img/정글라인.svg" alt="Jungle">
                        </button>
                        <button class="find-position-button">
                            <img src="/img/미드라인.svg" alt="Mid">
                        </button>
                        <button class="find-position-button">
                            <img src="/img/바텀라인.svg" alt="Bot">
                        </button>
                        <button class="find-position-button">
                            <img src="/img/서폿라인.svg" alt="Support">
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="queue-type">큐 타입</label>
                    <select id="queue-type">
                        <option value="solo">솔로랭크</option>
                        <option value="flex">자유랭크</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="memo">메모</label>
                    <textarea id="memo" rows="3" placeholder="함께 할 DUO 파트너를 찾고 있어요."></textarea>
                </div>
                <div class="form-group">
                    <div class="note">단어에 대한 모욕, 명예훼손, 성희롱 등의 행위는 신고 시 법적 처벌을 받을 수 있습니다.</div>
                </div>
                <div class="buttons">
                    <button class="cancel-button" onclick="closePopup()">취소</button>
                    <button class="register-button">등록</button>
                </div>
            </div> 
    </div>

    <section class="post-section">
        <div class="post">
            <div class="post-header">
                <div class="user-info">
                    <img class="user-icon" src="user-icon.jpg" alt="User Icon">
                    <div>
                        <h3>QUEEN</h3>
                        
                    </div>
                </div>
            </div> 
            <div>
                바텀
            </div> 
            <div>
                플레티넘
            </div>
            <div>
                서폿
            </div>
            <div>
                이즈리얼
            </div>
            <div>
                50%
            </div>
            <div>
                4.9
            </div>
            <div>
                <p class="post-content">레버튼 장애로 진짜 불편합니다. 골드구간 전쟁</p>
            </div>
            <div>
                등록일시
            </div>
        </div>

        <div class="post">
            <div class="post-header">
                <div class="user-info">
                    <img class="user-icon" src="user-icon2.jpg" alt="User Icon">
                    <div>
                        <h3>T1 Rose</h3>
                        <span class="tier">G1</span>
                    </div>
                </div>
                <span class="status">캐리 가능한 부캐입니다</span>
            </div>
            <div class="post-stats">
                <div class="stat">
                    <span class="stat-label">승률</span>
                    <span class="stat-value">64%</span>
                </div>
                <div class="stat">
                    <span class="stat-label">KDA</span>
                    <span class="stat-value">6.6 / 6.8 / 6.3</span>
                </div>
                <div class="stat">
                    <span class="stat-label">최근 선호 챔피언</span>
                    <span class="stat-value">케이틀린</span>
                </div>
            </div>
            <p class="post-content">빠르게 1승만 하실분</p>
        </div>
    </section>

    
    

    <footer th:replace = "~{fragments/common/footer :: FooterFragment}">
        
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/count-up.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/recruit.js"></script>
    <script src="/js/riotinfo.js"></script>
    
    <script>
        //========= testimonial 
        tns({
            container: '.testimonial-slider',
            items: 3,
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            nav: true,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 1,
                },
                768: {
                    items: 2,
                },
                992: {
                    items: 2,
                },
                1170: {
                    items: 3,
                }
            }
        });

        //====== counter up 
        var cu = new counterUp({
            start: 0,
            duration: 2000,
            intvalues: true,
            interval: 100,
            append: " ",
        });
        cu.start();
    </script>
</html>



