<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  							"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "kr.co.green.register.mapper.RegisterMapper">


<resultMap id="userResultMap" type="kr.co.green.register.dto.RegisterDTO">

<result property="userNo" column="user_no"></result>
<result property="userName" column="user_name"></result>
<result property="nickName" column="nick_name"></result>
<result property="userId" column="user_id"></result>
<result property="userPassword" column="user_password"></result>
<result property="userEmail" column="user_email"></result>
<result property="userBirthday" column="user_birthday"></result>
<result property="userAgency" column="user_agency"></result>
<result property="userPhone" column="user_phone"></result>
<result property="createDate" column="create_date"></result>
<result property="roleEnum" column="role_enum"></result>
<result property="userIntroduce" column="user_introduce"></result>
<result property="userRiot" column="user_riot"></result>

</resultMap>

<!-- 아이디 중복체크 -->
<select id="checkId" resultType ="int">
	SELECT COUNT(*) FROM USER_INFO
	WHERE user_id = #{userId}
</select>


<!-- 이메일 중복체크 -->
<select id="checkEmail" resultType ="int">
	SELECT COUNT(*) FROM USER_INFO
	WHERE user_email = #{userEmail}
</select>


<insert id="insertUser">

 <selectKey keyProperty="userNo" resultType="int" order="BEFORE">
        SELECT user_info_seq.NEXTVAL FROM DUAL
 </selectKey>
    
        INSERT INTO user_info (
            user_no, 
            user_name, 
            nick_name, 
            user_id, 
            user_password, 
            user_email, 
            user_birthday, 
            user_agency, 
            user_phone, 
            create_date, 
            role_enum, 
            user_introduce, 
            user_riot
        ) VALUES (
           	#{userNo}, 
            #{userName}, 
            #{nickName}, 
            #{userId}, 
            #{userPassword}, 
            #{userEmail}, 
            #{userBirthday}, 
            #{userAgency}, 
            #{userPhone}, 
            sysdate, 
            default,
            null, 
            default
        )
 	</insert>
    
   <!-- 체크박스 데이터 넣기 -->
    <insert id="insertCheckDate" parameterType="kr.co.green.register.dto.AgreeDTO">
    INSERT INTO AgreeData(
    		agree_all,
            essential_agree,
            personal_agree,
            location_agree,
            marketing_agree,
            agree_date,
            user_no,
            realName_agree,
            personal_agreeOptional
        ) 
        VALUES (
            #{agreeAll},
            #{essentialAgree},
            #{personalAgree},
            #{locationAgree},
            #{marketingAgree},
            SYSDATE,
            #{userNo},
            #{realNameAgree},
            #{personalOption}
        )
    </insert>
    
    
	<select id="signIn" resultMap="userResultMap">
	SELECT * FROM USER_INFO
	WHERE user_id = #{userId}
	or user_email = #{userId}
	
	</select>
		


</mapper>